.icon {
  position: relative;
}

.icon span {
  position: absolute;
  background-color: black;
  width: 100px;
  color: white;
  top: 40px;
  text-align: center;
  padding: 4px;
  font-size: var(--fontSize-1);
  border-radius: 5px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: 0.5s;
  visibility: hidden;
}

.icon:hover span {
  opacity: 1;
  visibility: visible;
}

.icon img {
  height: 40px;
  padding: 6px 2px;
}

.icon:hover img {
  background-color: var(--color-line);
  border-radius: var(--spacing-1);
}
